<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteCond %{REQUEST_URI} !^/public
    RewriteCond %{REQUEST_URI} !^/assets/.*\.(css|js|png|jpg|jpeg|svg|json)$ [NC]
    RewriteRule ^(.*)$ /public/$1 [L]

    RewriteCond %{REQUEST_URI} ^/assets/.*\.(css|js|png|jpg|jpeg|svg|json)$ [NC]
    RewriteRule ^(.*)$ - [L]

    RewriteCond %{REQUEST_URI} ^/assets [NC]
    RewriteCond %{REMOTE_ADDR} !^127\.0\.0\.1$
    RewriteRule ^(.*)$ - [R=403,L]

</IfModule>
